<<<<<<< HEAD
body{
    margin: 0%;
    padding:0%;

}
h1{
    text-align:center;
=======
body{
    margin: 0%;
    padding:0%;

}
h1{
    text-align:center;
>>>>>>> 2f233761be84293b2423841e985495dbdf9a052d
}